.bouncy-castles {
  h1 {
    text-align: center;
  }

  .grid {
    border: 1px solid blue;
    .grid-header {
      .grid-header__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        border: 1px solid darkgreen;

        .grid-header__cell {
          padding: 10px;
          width: 10%;
          border: 1px solid orange;

          &.action {
            min-width: 160px;
          }

          .grid-header__cell-text {
            font-weight: 600;
            font-size: 1.2em;
          }
        }
      }
    }
  }


}